.game--content {
  /* Right part of the app, where the drop happens */
  .game__hybrid {
    background-color: $beige;
    /* use of flexbox */
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    flex-wrap: nowrap;
    width: 50vw;
    /* proportions for both side change according to the width screen */
    @include media-breakpoint-down(md) {
      width: 60vw;
    }
    @include media-breakpoint-down(sm) {
      width: 65vw;
    }
    svg {
      height: 70vh;
      @include media-breakpoint-down(sm) {
        height:65vh;
      }
    }
  }
}

/* svg container */
.animal__parts {
  position: relative;
  height:75vh;
}

