@import "bootstrap-sass/variables";
@import "bootstrap-sass/mixins/clearfix";
@import "bootstrap-sass/mixins/breakpoints";
@import "bootstrap-sass/mixins/grid-framework";
@import "bootstrap-sass/mixins/grid";
@import "bootstrap-sass/grid";

h1.hybrid__name {
  font-family: 'fibre_vintagefibre_vintage';
  display: inline-block;
  font-size: 5em;
  margin: 0;
  padding: 0;
  color: $beige;
}

@include media-breakpoint-up(sm) {
  h1.hybrid__name {
    font-size: 8em;
  }
}

@include media-breakpoint-up(md) {
  h1.hybrid__name {
    font-size: 10em;
  }
}

@include media-breakpoint-up(lg) {
  h1.hybrid__name {
    font-size: 13em;
  }
}

.animal__parts {
  position: relative;
  height: 100vh
}

.game__hybrid {
  svg {
    height: 100%;
    width: 100%;
    position: absolute;
  }
}
