@import 'color';
@import 'animal-list';
@import 'hybrid';
@import 'fibre';

html {
  height: 100%;
}

.game {
  overflow: auto;
  display: flex;
  flex-direction: column;
  background-color: $duck-green;
}
.game--content {
  height: 82vh;
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  .game__animal {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    height: auto;
    flex-wrap: nowrap;
    width:50%;
    overflow: scroll;
  }
  .game__hybrid {
    background-color: $beige;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    height: auto;
    flex-wrap: nowrap;
    width:50%;
  }
}

.game__name {

  flex: 0 0 auto;
  height: 18vh;
  margin: auto;
}

