@import 'color';
@import 'animal-list';
@import 'hybrid';
@import 'fibre';

html,
body {
  font-size: 62.5%;
  height:100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

h3 {
  font-family: 'fibre_vintagefibre_vintage';
  color: $dark-grey;
}

.game {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  .h3 {
    padding-top: 10px;
  }
}

.game--content {
  height: 82vh;
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  .game__animal {

    flex: 1 1 auto;
    flex-wrap: nowrap;
    width: 50vw;
    overflow: hidden;
    @include media-breakpoint-down(md) {
      width: 35vw;
    }
    @include media-breakpoint-down(sm) {
      width: 30vw;
    }
    .animal-list {
      position: relative;
      top:0;
      overflow: scroll;
      height: 82vh;
      svg {

      }
    }
  }
  .game__hybrid {
    background-color: $beige;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    flex-wrap: nowrap;
    width: 50vw;

    @include media-breakpoint-down(md) {
      width: 65vw;
    }
    @include media-breakpoint-down(sm) {
      width: 70vw;
    }
  }
}

.game__name {
  flex: 0 0 auto;
  height: 18vh;
  padding-top: 2%;
  display: block;
  z-index:1000;
  background-color: $vert-d-eau;
  flex-shrink:0;
}
