@import 'color';
@import 'animal-list';
@import 'hybrid';
@import 'fibre';
@import 'name';
@import "bootstrap-sass/variables";
@import "bootstrap-sass/mixins/clearfix";
@import "bootstrap-sass/mixins/breakpoints";
@import "bootstrap-sass/mixins/grid-framework";
@import "bootstrap-sass/mixins/grid";
@import "bootstrap-sass/grid";

html,
body {
  font-size: 62.5%;
  background-color: $beige;
}

h3 {
  font-family: 'fibre_vintagefibre_vintage';
  color: $dark-grey;
  font-size: 5em;
}

.game {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh;
  .h3 {
    padding-top: 10px;
  }
  /* Drag preview created by react component ItemPreview */
  .item.preview {
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    width: 12vh;
  }
  /* container for the upper part of the app(animal-list + hybrid) */
  .game--content {
    height: 82vh;
    @include media-breakpoint-down(sm) {
      height: 75vh;
    }
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    width: 100vw;
    flex-wrap: wrap;
    overflow: hidden;
  }
}

/*
Scrollbar make bigger because of the touch issue with the icon, drag and scroll impossible on the same time
It appears only on small screen on landscape view.
*/
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 20px;

}
::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color:#ab3d3d;
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,.2);
}