.head {
  top:-10%;
  z-index: 400;
}

.body {
  z-index: 300;
  left:17%;
  width: 64%;
  top:-3%;
  position: absolute;
}

.legs {
}

h1.hybrid__name {
  font-family: 'diamorregular';
  display: inline-block;
}