
h1.hybrid__name {
  font-family: 'fibre_vintagefibre_vintage';
  display: inline-block;
  font-size: 50px;
}

.animal__parts {
  position: relative;
  height: 100vh
}

.game__hybrid {
  svg {
    height: 100%;
    width: 100%;
    position: absolute;
  }
}
