.head {

}
.body {
  background-color: blue;
  position: absolute;
  left:38%;
  width:30%;
  height: 100%;
  z-index: 300;
}

.legs {  
  background-color: #00d6b2;
  width: 100%;
  height: 100%;
  position: absolute;

}
.hybrid {
  position: relative;
}